/*----------------Base Styles ---------------------*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif !important;
    margin: 0;
    font-size: 16px;
    background-color: #fff;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

#home,
#about,
#services,
#products,
#testimonials,
#contact {
    margin-left: 60px;
    margin-right: 60px;
}

#testimonials .line,
#products .line,
#services .line,
#about .line {
    border: 4px solid #3774DF;
    border-radius: 8px 8px 0px 0px;
    background-color: #3774DF;
    margin: 0 0 41px 15px;
    width: 90px;
}

/*----------------Nav Bar Styles ---------------------*/
.navbar {
    align-items: center;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 10px 24px rgba(0, 0, 0, 0, 1);
    padding-left: 80px;
    padding-right: 45px;
}

/*----------------Header/Hero Styles ---------------------*/

.header button {
    border-radius: 3px;
    width: 45%;
    background: #0146C0;
}

.background-image {
    background: url(../img/doctor.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 652px;
}

/*----------------About Styles ---------------------*/


/*----------------Service Styles ---------------------*/

#services .card {
    border-radius: 7px;
    box-shadow: 0px 4px 4px rgba(9, 44, 76, 0.13);
}

/*----------------Product Styles ---------------------*/

#products button {
    color: rgba(168, 170, 170, 0.78);
    font-size: 0.875em;
    text-shadow: 0px 4px 24px rgba(0, 0, 0, 0.32);
    background: rgba(240, 240, 240, 0.28);
    border-radius: 14px;
}

#products button:hover {
    background: #0146C0;
    color: #fff;
}

#products .card {
    box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.1);
    border-radius: 14px;
    margin-top: 37px;
}

#products a {
    margin-top: 60px;
    margin-bottom: 140px;
    background: #0146C0;
    box-shadow: 0px 4px 9px rgba(33, 98, 211, 0.13);
    border-radius: 8px;
    height: 55px;
}

/*---------Testimonial Styles------*/

#testimonials .slider-frame {
    background: #FFFFFF;
    box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.1);
    border-radius: 14px;
    height: 400px;
}

#testimonials .controls {
    background-color: #0146C0;
    border-radius: 25px;
    width: 38px;
    height: 38px;
}

#testimonials span {
    background-color: #0146C0;
}

#testimonials span:hover {
    background: rgba(1, 70, 192, 0.1);
}

#testimonials a:hover {
    background: rgba(1, 70, 192, 0.1);
}

#testimonials .arrows .active:hover {
    background: rgba(1, 70, 192, 0.1);
}

#testimonials .arrows .active {
    background-color: #0146C0;
    border-radius: 25px;
    width: 5%;
}

#testimonials .arrows li:hover {
    background: #0146C0;
}

#testimonials .arrows li {
    background: rgba(196, 196, 196, 0.27);
    border-radius: 25px;
    width: 5%;
}

/*---------Contact Styles------*/

#contact::placeholder {
    color: #BDBDBD;
}

#contact .row {
    margin-bottom: 67px;
    margin-top: 213px;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

#footer ul {
    list-style-type: none;
    padding: 0 48px 0 0;
}